/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.places {
  
  &__item{
    flex-basis: 23%;
  }
  &__img {
    height: 335px;
  }
}

.travel{

    &__inner{
      padding:50px 150px;
    }
}

.side{
  display: block;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
   
 }