.try .btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
}

.try .btn.float:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 2px 2px 2px 2px green;
          box-shadow: 2px 2px 2px 2px green;
}

.try .btn.filled {
  background-color: black;
  color: white;
  -webkit-box-shadow: 2px 2px 2px 2px green;
          box-shadow: 2px 2px 2px 2px green;
}

.try .btn.filled:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.try .btn.letter-spacing:hover {
  background-color: black;
  color: white;
  letter-spacing: 3px;
}

.try .btn.shadow:hover {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
  -webkit-box-shadow: 2px 2px 2px 2px green;
          box-shadow: 2px 2px 2px 2px green;
}

.try .btn.solid {
  -webkit-box-shadow: 1px 1px 1px 1px green;
          box-shadow: 1px 1px 1px 1px green;
  border-radius: 10px;
}

.try .btn.solid:hover {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#container-second {
  text-align: center;
}

.slide .btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 50px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slide .btn.slide-bg {
  position: relative;
  z-index: 1;
}

.slide .btn.slide-bg::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(1, -0.04, 0.25, 1);
  transition: -webkit-transform 1s cubic-bezier(1, -0.04, 0.25, 1);
  transition: transform 1s cubic-bezier(1, -0.04, 0.25, 1);
  transition: transform 1s cubic-bezier(1, -0.04, 0.25, 1), -webkit-transform 1s cubic-bezier(1, -0.04, 0.25, 1);
  z-index: -1;
}

.slide .btn.slide-bg:hover {
  color: white;
}

.slide .btn.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

#container-third {
  text-align: center;
}

.cover-3d span {
  display: inline-block;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.cover-3d .btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 50px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cover-3d .btn.anime {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100px;
          perspective: 100px;
}

.cover-3d .btn.anime::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 3s;
  transition: all 3s;
  opacity: 0;
}

.cover-3d .btn.anime:hover {
  color: white;
}

.cover-3d .btn.anime:hover::before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
/*# sourceMappingURL=try.css.map */